{%  extends 'base.html' %}
{%  block css %}{%  endblock %}

{% block content %}

<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jakub Sobótka">
    <title>ESSENCE</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../static/css/admin.css"/>
  </head>
<body>
<div class="konfiguracja">
<div class="round">
    <label>Dodawanie rund</label>
    <input type="number" id="round" name="round" min="3" max="16" value="">Liczba rund<br />
</div>
<div class="demand">
    <label>Dodawanie popytu</label>
</div>
<div class="player">
    <label>Dodawanie graczy</label>


</div>
<div class="cost">
    <label>Definiowanie kosztów</label>
</div>
</div>
</body>
</html>

{% endblock %}